<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProvincecitiesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProvincecitiesEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{provincecitiesEntityController.selected.name}" title="#{bundle.CreateProvincecitiesEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateProvincecitiesEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateCountriesEntityLabel_name}" for="countryId" />
                    <h:selectOneMenu id="countryId" value="#{provincecitiesEntityController.selected.countryId}" title="#{bundle.CreateCountriesEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateCountriesEntityRequiredMessage_name}">
                        <f:selectItems value="#{countriesEntityController.findAll2()}" var="c" itemLabel="#{c.name}" itemValue="#{c}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{provincecitiesEntityController.create}" value="#{bundle.CreateProvincecitiesEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{provincecitiesEntityController.prepareList}" value="#{bundle.CreateProvincecitiesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProvincecitiesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
