<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProvincecitiesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProvincecitiesEntityLabel_provinceId}" for="provinceId" />
                    <h:inputText id="provinceId" value="#{provincecitiesEntityController.selected.provinceId}" title="#{bundle.EditProvincecitiesEntityTitle_provinceId}" required="true" requiredMessage="#{bundle.EditProvincecitiesEntityRequiredMessage_provinceId}" disabled="true"/>
                    <h:outputLabel value="#{bundle.EditProvincecitiesEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{provincecitiesEntityController.selected.name}" title="#{bundle.EditProvincecitiesEntityTitle_name}" required="true" requiredMessage="#{bundle.EditProvincecitiesEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditProvincecitiesEntityLabel_countryId}" for="countryId" />
                    <h:selectOneMenu id="countryId" value="#{provincecitiesEntityController.selected.countryId}" title="#{bundle.EditProvincecitiesEntityTitle_countryId}" required="true" requiredMessage="#{bundle.EditProvincecitiesEntityRequiredMessage_countryId}">
                        <f:selectItems value="#{countriesEntityController.findAll2()}" var="c" itemLabel="#{c.name}" itemValue="#{c}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{provincecitiesEntityController.update}" value="#{bundle.EditProvincecitiesEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProvincecitiesEntityViewLink}"/>
                <br />
                <h:commandLink action="#{provincecitiesEntityController.prepareList}" value="#{bundle.EditProvincecitiesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProvincecitiesEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
