<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAccessoriesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_accessoriesId}" for="accessoriesId" />
                    <h:inputText id="accessoriesId" value="#{accessoriesEntityController.selected.accessoriesId}" title="#{bundle.CreateAccessoriesEntityTitle_accessoriesId}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_accessoriesId}"/>
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{accessoriesEntityController.selected.name}" title="#{bundle.CreateAccessoriesEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_imageThumb}" for="imageThumb" />
                    <h:inputText id="imageThumb" value="#{accessoriesEntityController.selected.imageThumb}" title="#{bundle.CreateAccessoriesEntityTitle_imageThumb}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_imageThumb}"/>
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_image}" for="image" />
                    <h:inputText id="image" value="#{accessoriesEntityController.selected.image}" title="#{bundle.CreateAccessoriesEntityTitle_image}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_image}"/>
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{accessoriesEntityController.selected.description}" title="#{bundle.CreateAccessoriesEntityTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_price}" for="price" />
                    <h:inputText id="price" value="#{accessoriesEntityController.selected.price}" title="#{bundle.CreateAccessoriesEntityTitle_price}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.CreateAccessoriesEntityLabel_categoryId}" for="categoryId" />
                    <h:selectOneMenu id="categoryId" value="#{accessoriesEntityController.selected.categoryId}" title="#{bundle.CreateAccessoriesEntityTitle_categoryId}" required="true" requiredMessage="#{bundle.CreateAccessoriesEntityRequiredMessage_categoryId}">
                        <f:selectItems value="#{categoriesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accessoriesEntityController.create}" value="#{bundle.CreateAccessoriesEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{accessoriesEntityController.prepareList}" value="#{bundle.CreateAccessoriesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAccessoriesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
