<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateImagesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateImagesEntityLabel_imageId}" for="imageId" />
                    <h:inputText id="imageId" value="#{imagesEntityController.selected.imageId}" title="#{bundle.CreateImagesEntityTitle_imageId}" required="true" requiredMessage="#{bundle.CreateImagesEntityRequiredMessage_imageId}"/>
                    <h:outputLabel value="#{bundle.CreateImagesEntityLabel_path}" for="path" />
                    <h:inputText id="path" value="#{imagesEntityController.selected.path}" title="#{bundle.CreateImagesEntityTitle_path}" required="true" requiredMessage="#{bundle.CreateImagesEntityRequiredMessage_path}"/>
                    <h:outputLabel value="#{bundle.CreateImagesEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{imagesEntityController.selected.name}" title="#{bundle.CreateImagesEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateImagesEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateImagesEntityLabel_productId}" for="productId" />
                    <h:selectOneMenu id="productId" value="#{imagesEntityController.selected.productId}" title="#{bundle.CreateImagesEntityTitle_productId}" required="true" requiredMessage="#{bundle.CreateImagesEntityRequiredMessage_productId}">
                        <f:selectItems value="#{productsEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{imagesEntityController.create}" value="#{bundle.CreateImagesEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{imagesEntityController.prepareList}" value="#{bundle.CreateImagesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateImagesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
