<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewImagesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewImagesEntityLabel_imageId}"/>
                    <h:outputText value="#{imagesEntityController.selected.imageId}" title="#{bundle.ViewImagesEntityTitle_imageId}"/>
                    <h:outputText value="#{bundle.ViewImagesEntityLabel_path}"/>
                    <h:outputText value="#{imagesEntityController.selected.path}" title="#{bundle.ViewImagesEntityTitle_path}"/>
                    <h:outputText value="#{bundle.ViewImagesEntityLabel_name}"/>
                    <h:outputText value="#{imagesEntityController.selected.name}" title="#{bundle.ViewImagesEntityTitle_name}"/>
                    <h:outputText value="#{bundle.ViewImagesEntityLabel_productId}"/>
                    <h:outputText value="#{imagesEntityController.selected.productId}" title="#{bundle.ViewImagesEntityTitle_productId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{imagesEntityController.destroyAndView}" value="#{bundle.ViewImagesEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewImagesEntityEditLink}"/>
                <br />
                <h:commandLink action="#{imagesEntityController.prepareCreate}" value="#{bundle.ViewImagesEntityCreateLink}" />
                <br />
                <h:commandLink action="#{imagesEntityController.prepareList}" value="#{bundle.ViewImagesEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewImagesEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
