@charset "utf-8";
/* CSS Document */
body {
    background-color: #eff3f6;
    margin: 0;
    padding: 0;
    color: #000;
    font: 12px/1.55 Arial,Helvetica,sans-serif;
    text-align:center;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px; 
}

a img {
    border: none;
}
a{color:#1e7ec8;text-decoration:none;}

a:link {
    color:#414958;
    text-decoration: underline;
}
a:visited {
    color: #4E5869;
    text-decoration: underline;
}
a:hover, a:active, a:focus { 
    text-decoration: none;
}
.lft{
    float:left;
}
.rgt{
    float:right;
}

/* ~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~ */
#wrapper{
    width:100%;
    margin:0 auto;
}

.wrap_left{
    width:22%;
    height:100%;
    float:left;
    position:fixed;
    background:#313b3f;
    border-right:1px solid #000;
}
.wrap_right{
    padding: 0px;
    width:77.9%;
    float:right;
}
.logo{
    color:#ff3e3e;
    font-size: 2.5em;
    font-weight:bold;
    font-family:"Lucida Console", Monaco, monospace;
    border-bottom:1px solid #3c5056;
    height:100px;
    line-height:100px;
    text-shadow: 3px 3px 3px #000;
}
.header{
    width:100%;
    border-bottom:1px solid #bbbbbb;
    height:100px;
    line-height:100px;
}
.footer{
    width:100%;
    height:50px;
    line-height:50px;
    border-top: 1px solid #bbbbbb;
    bottom: 0;
}
.search{
    padding: 20px 10px 20px 10px;
    height: 30px;
    border-bottom: 1px solid #3c5056;
}
.search_input{
    color: #999999;
    width: 59%;
    height: 25px;
    border:1px solid #3c5056;
    border-radius:10px;
    border-top-left-radius:0!important;
    border-bottom-left-radius:0!important;
    background: none;
    text-align:left;
    padding-left:10px;
    float: right;
}
.search_button{
    color: #999999;
    float: left;
    margin:0;
    padding:0 20px;
    border:1px solid #3c5056;
    height: 29px;
    line-height: 25px;
    background:none;
    text-align:center;
    color:#fff;
}
.content{
    padding: 5px;
}