
small{
	font-size:1em;
	word-wrap:break-word;
	font-style:italic;
	display:none;
}

#nav-container{
	background:#0a263d;
	margin-bottom:6px;
	background:0 0;
	position:relative;
	margin-top: 0;
	font-size:.95em;
}
#nav-container #nav-tms{
	background:#515a61;
	height:45px;
	clear:both;
	overflow:hidden;
	border-radius:5px 5px 0 0;
	list-style:none;
}
#nav-container #nav-tms li{
	height:100%;
	line-height:45px;
	color:#fff;
	transition:.2s
}

#nav-container #nav-tms li:hover{
	background:#ff3e3e!important;
}
#nav-container #nav-tms li a{
	color:#fff;
	font-size:1.1em;
	display:inline-block;
	text-decoration:none;
	height:100%;
	width:100%
}
#nav-container #nav-tms li.small{
	width:12.36%;
	border-right:1px solid #000;
	border-left:1px solid #525252;
}
#nav-container .mobiles-dropdown{
	display:none;
	position:absolute;
	padding:10px;
	left:0;
	top:45px;
	width:98.4%;
	height:auto;
	background:#25292c;
	opacity:1;
	border-top:5px solid #ff3e3e;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background:rgba(0,0,0,.9);
	z-index:10000;
}

#nav-container #nav-tms li ul li a {
	float:none !important;
}
#nav-container #nav-tms li a{
	font-weight:700;
	display:inline-block;zoom:1;
	line-height:1.5em;
	margin-top:8px
}
#nav-container .mobiles-dropdown ul{
	width: 16%;
}


#nav-container #nav-tms li ul li{
	width:100%;
	text-align:left;
	line-height:1em;
	padding:5px 0 5px 2%;
	margin-left:5px;
	text-indent:none!important;
	list-style:none;
}
#nav-container #nav-tms li ul li:hover{
	background:0 0!important
}
#nav-container #nav-tms li ul li a{
	font-size:12px;
	float:left;
	width:auto;
	border-bottom:1px solid transparent;
	float: none !important;
}
#nav-container #nav-tms li ul li a:hover{
	color:#ff3e3e;
	border-bottom:1px solid #ff3e3e;
}
#nav-container #nav-tms{
	background:#363636
}
#nav-container #nav-tms li:hover .mobiles-dropdown{
	display:block
}
#nav-container #nav-tms li.used{
	font-size:.85em
}

#nav-tms .current_selection {
	background: #ff3e3e!important;
}
#nav-tms .ul-left { 
	width: 12%;
}

.f-left,.left{float:left!important}
.f-left{width:40%;float:left}
