<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../template/front_end_tmpl.xhtml">


            <ui:define name="content">
                <div class="slide_home">
                    <div class="picture_slide">
                        <div id="featured">
                            <a href="#"><h:graphicImage value="./images/slide_picture/tab-s-800-350.jpg" /></a>
                            <a href="#"><img src="images/slide_picture/GalaxyA3-800-350.jpg"/></a>
                            <a href="#"><img src="images/slide_picture/Galaxys6-800-350.jpg"/></a>
                            <a href="#"><img src="images/slide_picture/LeLonThang4-800-350.jpg"/></a>
                            <a href="#"><img src="images/slide_picture/Lumia-640-800-350.jpg"/></a>
                            <a href="#"><img src="images/slide_picture/PreOrder-M9-800-350.jpg"/></a>
                        </div>
                    </div><!-- end .picture_slide -->

                    <div class="news">
                        <div class="news-holder cf">
                            <ul class="news-headlines">
                                <li class="selected">Sắp xuất hiện một chiếc smartphone có thể 'hút' sạch ánh sáng toàn địa cầu?</li>
                                <li>4 smartphone đáng chú ý nhất lên kệ tại Việt Nam ngay trong tháng 4/2015</li>
                                <li>Điện thoại kiêm sạc smartphone di động giá chỉ 485 ngàn có mặt tại Việt Nam</li>
                                <li>Smartphone không viền, cấu hình khủng, thiết kế lấn lướt cả iPhone 6 đang đến rất gần</li>
                                <li>ZenFone 2 RAM 4GB lên kệ với giá trên cả tuyệt vời ở quốc gia láng giềng Việt Nam</li>
                                <!-- li.highlight gets inserted here -->
                            </ul>

                            <div class="news-preview">
                                <div class="news-content top-content">
                                    <a href="#"><img src="images/news_slider/huawei-p8-anh-sang-1-300x200.jpg"/></a>
                                    <p>Một dị nhân trùm áo đen, cầm trên tay một chiếc điện thoại bí ẩn đi đến đâu liền thu hút hết ánh sáng của khu vực đó, thậm chí là toàn địa cầu... Đây là những gì đang xảy ra trong một video quảng cáo cho sản phẩm mới của Huawei.</p>
                                </div><!-- .news-content -->
                                <div class="news-content">
                                    <a href="#"><img src="images/news_slider/htc-one-m9-samsung-galaxy-s6-s6-edge-020315-300x200.jpg"/></a>            
                                    <p>Trong thời gian qua, hàng loạt smartphone với những tính năng cao cấp cùng thiết kế ấn tượng đã được trình làng. Và ngay trong tháng 4 này, nhiều mẫu trong số đó đã được niêm yết giá và bắt đầu được bán ra trong vài ngày tới.</p>
                                </div><!-- .news-content -->
                                <div class="news-content">
                                    <a href="#"><img src="images/news_slider/bavapen-sac-pin-f-300x200.jpg"/></a>
                                    <p>Sau một thời gian im lặng, dòng điện thoại Bavapen của nhà sản xuất Thành Công Mobile sắp quay lại với một model mới mang tên Bavapen B42, đây là một điện thoại bình dân nhưng có khả năng tự biến thành một cục sạc dự phòng cho các dòng smartphone cao cấp hiện nay.</p>
                                </div><!-- .news-content -->
                                <div class="news-content">
                                    <a href="#"><img src="images/news_slider/nubia-z9-xuat-hien-f-300x200.jpg"/></a>
                                    <p>Sau khi phát hành ZTE Nubia Z9 Mini và Nubia Z9 Max, nhiều người đã hỏi ZTE rằng Nubia Z9 khi nào sẽ ra mắt và bây giờ Ni Fei, tổng giám đốc mảng smartphone Nubia đã có cho câu trả lời cho vấn đề này và ông còn hé lộ thêm một số thông tin hấp dẫn liên quan đến sản phẩm mới.</p>
                                </div><!-- .news-content -->
                                <div class="news-content">
                                    <a href="#"><img src="images/news_slider/zenfone-2-ram-4gb-f-300x200.jpg"/></a>
                                    <p>Phiên bản ZenFone 2 có RAM 4GB của Asus đã chính thức được bán ra ngày hôm nay (7/4) tại Trung Quốc với mức giá rất hấp dẫn. Đây dự kiến sẽ là một trong những thiết bị tầm trung đáng để sở hữu nhất trong nửa đầu năm nay.</p>
                                </div><!-- .news-content -->

                            </div><!--end .news-preview -->
                        </div><!--end .news-holder --> 
                    </div><!--end .news -->
                </div><!-- end .slide_home -->

                <p class="clearfloat"></p>

                <div class="title_home">SẢN PHẨM BÁN CHẠY NHẤT</div>
                <div class="wrap_product">
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/ss-grand-prime-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Samsung Galaxy Grand Prime G530</div>
                                    <div class="box_bottom_price">4.390.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/samsung-galaxy-a500-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Samsung Galaxy A5</div>
                                    <div class="box_bottom_price">8.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/c3-dual.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Sony Xperia C3 Dual</div>
                                    <div class="box_bottom_price">5.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/joy-r1001.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Oppo Joy R1001</div>
                                    <div class="box_bottom_price">1.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/htc-one-ds-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">HTC One (M7) dual sim</div>
                                    <div class="box_bottom_price">7.290.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/Desire-816G-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">HTC Desire 816G Dual Sim</div>
                                    <div class="box_bottom_price">6.290.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/note4-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Samsung Galaxy Note 4</div>
                                    <div class="box_bottom_price">17.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/Samsung-galaxy-s6-1o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">Samsung Galaxy S6</div>
                                    <div class="box_bottom_price">16.590.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/best-seller.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/htc_one_m9_b1.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">HTC One M9</div>
                                    <div class="box_bottom_price">16.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <p class="clearfloat"></p>
                </div><!-- end .wrap_product -->
                <p class="clearfloat"></p>
                <div class="title_home">SẢN PHẨM MỚI</div>
                <div class="wrap_product">
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/new_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <p class="clearfloat"></p>
                </div><!-- end .wrap_product -->
                <p class="clearfloat"></p>
                <div class="title_home">SẢN PHẨM CÓ KHUYẾN MÃI</div>
                <div class="wrap_product">
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <div class="box">
                        <a href="#">
                            <div class="box_wrap">
                                <div class="box_top"><img src="images/sale_icon.png"/></div>
                                <div class="box_middle">
                                    <img src="images/products/iphone-5s-1-o.jpg" width="146" height="155"/>
                                </div>
                                <div class="box_bottom">
                                    <div class="box_bottom_title">iPhone 5S 16GB</div>
                                    <div class="box_bottom_price">13.990.000</div>
                                </div>
                            </div>
                        </a>
                    </div><!-- end .box -->
                    <p class="clearfloat"></p>
                </div><!-- end .wrap_product -->
                <p class="clearfloat"></p>
            </ui:define>


        </ui:composition>

    </body>
</html>
