<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAddressesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">                    
                    <h:outputLabel value="#{bundle.CreateAddressesEntityLabel_street}" for="street" />
                    <h:inputText id="street" value="#{addressesEntityController.selected.street}" title="#{bundle.CreateAddressesEntityTitle_street}" required="true" requiredMessage="#{bundle.CreateAddressesEntityRequiredMessage_street}"/>
                    <h:outputLabel value="#{bundle.CreateAddressesEntityLabel_township}" for="township" />
                    <h:inputText id="township" value="#{addressesEntityController.selected.township}" title="#{bundle.CreateAddressesEntityTitle_township}" required="true" requiredMessage="#{bundle.CreateAddressesEntityRequiredMessage_township}"/>
                    <h:outputLabel value="#{bundle.CreateAddressesEntityLabel_provinceId}" for="provinceId" />
                    <h:selectOneMenu id="provinceId" value="#{addressesEntityController.selected.provinceId}" title="#{bundle.CreateAddressesEntityTitle_provinceId}" required="true" requiredMessage="#{bundle.CreateAddressesEntityRequiredMessage_provinceId}">
                        <f:selectItems value="#{provincecitiesEntityController.findAll2()}" var="c" itemLabel="#{c.name}" itemValue="#{c}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{addressesEntityController.create}" value="#{bundle.CreateAddressesEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{addressesEntityController.prepareList}" value="#{bundle.CreateAddressesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAddressesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
