<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCustomersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customersEntityController.selected.customerId}" title="#{bundle.CreateCustomersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_customerId}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{customersEntityController.selected.name}" title="#{bundle.CreateCustomersEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_email}" for="email" />
                    <h:inputText id="email" value="#{customersEntityController.selected.email}" title="#{bundle.CreateCustomersEntityTitle_email}" />
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{customersEntityController.selected.phone}" title="#{bundle.CreateCustomersEntityTitle_phone}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_phone}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_gender}" for="gender" />
                    <h:inputText id="gender" value="#{customersEntityController.selected.gender}" title="#{bundle.CreateCustomersEntityTitle_gender}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_gender}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_password}" for="password" />
                    <h:inputText id="password" value="#{customersEntityController.selected.password}" title="#{bundle.CreateCustomersEntityTitle_password}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_birthday}" for="birthday" />
                    <h:inputText id="birthday" value="#{customersEntityController.selected.birthday}" title="#{bundle.CreateCustomersEntityTitle_birthday}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_registerDate}" for="registerDate" />
                    <h:inputText id="registerDate" value="#{customersEntityController.selected.registerDate}" title="#{bundle.CreateCustomersEntityTitle_registerDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_lastAccessDate}" for="lastAccessDate" />
                    <h:inputText id="lastAccessDate" value="#{customersEntityController.selected.lastAccessDate}" title="#{bundle.CreateCustomersEntityTitle_lastAccessDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{customersEntityController.selected.status}" title="#{bundle.CreateCustomersEntityTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_addressId}" for="addressId" />
                    <h:selectOneMenu id="addressId" value="#{customersEntityController.selected.addressId}" title="#{bundle.CreateCustomersEntityTitle_addressId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_addressId}">
                        <f:selectItems value="#{addressesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customersEntityController.create}" value="#{bundle.CreateCustomersEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{customersEntityController.prepareList}" value="#{bundle.CreateCustomersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCustomersEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
