<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCustomersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customersEntityController.selected.customerId}" title="#{bundle.EditCustomersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_customerId}"/>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{customersEntityController.selected.name}" title="#{bundle.EditCustomersEntityTitle_name}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_email}" for="email" />
                    <h:inputText id="email" value="#{customersEntityController.selected.email}" title="#{bundle.EditCustomersEntityTitle_email}" />
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{customersEntityController.selected.phone}" title="#{bundle.EditCustomersEntityTitle_phone}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_phone}"/>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_gender}" for="gender" />
                    <h:inputText id="gender" value="#{customersEntityController.selected.gender}" title="#{bundle.EditCustomersEntityTitle_gender}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_gender}"/>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_password}" for="password" />
                    <h:inputText id="password" value="#{customersEntityController.selected.password}" title="#{bundle.EditCustomersEntityTitle_password}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_birthday}" for="birthday" />
                    <h:inputText id="birthday" value="#{customersEntityController.selected.birthday}" title="#{bundle.EditCustomersEntityTitle_birthday}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_registerDate}" for="registerDate" />
                    <h:inputText id="registerDate" value="#{customersEntityController.selected.registerDate}" title="#{bundle.EditCustomersEntityTitle_registerDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_lastAccessDate}" for="lastAccessDate" />
                    <h:inputText id="lastAccessDate" value="#{customersEntityController.selected.lastAccessDate}" title="#{bundle.EditCustomersEntityTitle_lastAccessDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{customersEntityController.selected.status}" title="#{bundle.EditCustomersEntityTitle_status}" />
                    <h:outputLabel value="#{bundle.EditCustomersEntityLabel_addressId}" for="addressId" />
                    <h:selectOneMenu id="addressId" value="#{customersEntityController.selected.addressId}" title="#{bundle.EditCustomersEntityTitle_addressId}" required="true" requiredMessage="#{bundle.EditCustomersEntityRequiredMessage_addressId}">
                        <f:selectItems value="#{addressesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{customersEntityController.update}" value="#{bundle.EditCustomersEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCustomersEntityViewLink}"/>
                <br />
                <h:commandLink action="#{customersEntityController.prepareList}" value="#{bundle.EditCustomersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCustomersEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
