<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCustomersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_customerId}"/>
                    <h:outputText value="#{customersEntityController.selected.customerId}" title="#{bundle.ViewCustomersEntityTitle_customerId}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_name}"/>
                    <h:outputText value="#{customersEntityController.selected.name}" title="#{bundle.ViewCustomersEntityTitle_name}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_email}"/>
                    <h:outputText value="#{customersEntityController.selected.email}" title="#{bundle.ViewCustomersEntityTitle_email}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_phone}"/>
                    <h:outputText value="#{customersEntityController.selected.phone}" title="#{bundle.ViewCustomersEntityTitle_phone}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_gender}"/>
                    <h:outputText value="#{customersEntityController.selected.gender}" title="#{bundle.ViewCustomersEntityTitle_gender}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_password}"/>
                    <h:outputText value="#{customersEntityController.selected.password}" title="#{bundle.ViewCustomersEntityTitle_password}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_birthday}"/>
                    <h:outputText value="#{customersEntityController.selected.birthday}" title="#{bundle.ViewCustomersEntityTitle_birthday}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_registerDate}"/>
                    <h:outputText value="#{customersEntityController.selected.registerDate}" title="#{bundle.ViewCustomersEntityTitle_registerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_lastAccessDate}"/>
                    <h:outputText value="#{customersEntityController.selected.lastAccessDate}" title="#{bundle.ViewCustomersEntityTitle_lastAccessDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_status}"/>
                    <h:outputText value="#{customersEntityController.selected.status}" title="#{bundle.ViewCustomersEntityTitle_status}"/>
                    <h:outputText value="#{bundle.ViewCustomersEntityLabel_addressId}"/>
                    <h:outputText value="#{customersEntityController.selected.addressId}" title="#{bundle.ViewCustomersEntityTitle_addressId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customersEntityController.destroyAndView}" value="#{bundle.ViewCustomersEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCustomersEntityEditLink}"/>
                <br />
                <h:commandLink action="#{customersEntityController.prepareCreate}" value="#{bundle.ViewCustomersEntityCreateLink}" />
                <br />
                <h:commandLink action="#{customersEntityController.prepareList}" value="#{bundle.ViewCustomersEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCustomersEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
