<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCountriesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCountriesEntityLabel_countryId}" for="countryId" />
                    <h:inputText id="countryId" value="#{countriesEntityController.selected.countryId}" title="#{bundle.EditCountriesEntityTitle_countryId}" required="true" requiredMessage="#{bundle.EditCountriesEntityRequiredMessage_countryId}" disabled="true"/>
                    <h:outputLabel value="#{bundle.EditCountriesEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{countriesEntityController.selected.name}" title="#{bundle.EditCountriesEntityTitle_name}" required="true" requiredMessage="#{bundle.EditCountriesEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditCountriesEntityLabel_code}" for="code" />
                    <h:inputText id="code" value="#{countriesEntityController.selected.code}" title="#{bundle.EditCountriesEntityTitle_code}" required="true" requiredMessage="#{bundle.EditCountriesEntityRequiredMessage_code}"/>
                </h:panelGrid>
                <h:commandLink action="#{countriesEntityController.update}" value="#{bundle.EditCountriesEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCountriesEntityViewLink}"/>
                <br />
                <h:commandLink action="#{countriesEntityController.prepareList}" value="#{bundle.EditCountriesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCountriesEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
