<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCountriesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCountriesEntityEmpty}" rendered="#{countriesEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{countriesEntityController.items.rowCount > 0}">
                    <h:outputText value="#{countriesEntityController.pagination.pageFirstItem + 1}..#{countriesEntityController.pagination.pageLastItem + 1}/#{countriesEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{countriesEntityController.previous}" value="#{bundle.Previous} #{countriesEntityController.pagination.pageSize}" rendered="#{countriesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{countriesEntityController.next}" value="#{bundle.Next} #{countriesEntityController.pagination.pageSize}" rendered="#{countriesEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{countriesEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCountriesEntityTitle_countryId}"/>
                            </f:facet>
                            <h:outputText value="#{item.countryId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCountriesEntityTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCountriesEntityTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{countriesEntityController.prepareView}" value="#{bundle.ListCountriesEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{countriesEntityController.prepareEdit}" value="#{bundle.ListCountriesEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{countriesEntityController.destroy}" value="#{bundle.ListCountriesEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{countriesEntityController.prepareCreate}" value="#{bundle.ListCountriesEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCountriesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
