<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPaymentEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPaymentEntityEmpty}" rendered="#{paymentEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{paymentEntityController.items.rowCount > 0}">
                    <h:outputText value="#{paymentEntityController.pagination.pageFirstItem + 1}..#{paymentEntityController.pagination.pageLastItem + 1}/#{paymentEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{paymentEntityController.previous}" value="#{bundle.Previous} #{paymentEntityController.pagination.pageSize}" rendered="#{paymentEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{paymentEntityController.next}" value="#{bundle.Next} #{paymentEntityController.pagination.pageSize}" rendered="#{paymentEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{paymentEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentEntityTitle_paymentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentEntityTitle_method}"/>
                            </f:facet>
                            <h:outputText value="#{item.method}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{paymentEntityController.prepareView}" value="#{bundle.ListPaymentEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paymentEntityController.prepareEdit}" value="#{bundle.ListPaymentEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paymentEntityController.destroy}" value="#{bundle.ListPaymentEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{paymentEntityController.prepareCreate}" value="#{bundle.ListPaymentEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPaymentEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
