<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{ordersEntityController.selected.orderId}" title="#{bundle.EditOrdersEntityTitle_orderId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_orderId}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_date}" for="date" />
                    <h:inputText id="date" value="#{ordersEntityController.selected.date}" title="#{bundle.EditOrdersEntityTitle_date}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{ordersEntityController.selected.status}" title="#{bundle.EditOrdersEntityTitle_status}" />
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_total}" for="total" />
                    <h:inputText id="total" value="#{ordersEntityController.selected.total}" title="#{bundle.EditOrdersEntityTitle_total}" />
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_customerId}" for="customerId" />
                    <h:selectOneMenu id="customerId" value="#{ordersEntityController.selected.customerId}" title="#{bundle.EditOrdersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_customerId}">
                        <f:selectItems value="#{customersEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_paymentId}" for="paymentId" />
                    <h:selectOneMenu id="paymentId" value="#{ordersEntityController.selected.paymentId}" title="#{bundle.EditOrdersEntityTitle_paymentId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_paymentId}">
                        <f:selectItems value="#{paymentEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_shipmentId}" for="shipmentId" />
                    <h:selectOneMenu id="shipmentId" value="#{ordersEntityController.selected.shipmentId}" title="#{bundle.EditOrdersEntityTitle_shipmentId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_shipmentId}">
                        <f:selectItems value="#{shipmentEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{ordersEntityController.update}" value="#{bundle.EditOrdersEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrdersEntityViewLink}"/>
                <br />
                <h:commandLink action="#{ordersEntityController.prepareList}" value="#{bundle.EditOrdersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrdersEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
