<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOrdersEntityEmpty}" rendered="#{ordersEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ordersEntityController.items.rowCount > 0}">
                    <h:outputText value="#{ordersEntityController.pagination.pageFirstItem + 1}..#{ordersEntityController.pagination.pageLastItem + 1}/#{ordersEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ordersEntityController.previous}" value="#{bundle.Previous} #{ordersEntityController.pagination.pageSize}" rendered="#{ordersEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ordersEntityController.next}" value="#{bundle.Next} #{ordersEntityController.pagination.pageSize}" rendered="#{ordersEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ordersEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_total}"/>
                            </f:facet>
                            <h:outputText value="#{item.total}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_paymentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersEntityTitle_shipmentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipmentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ordersEntityController.prepareView}" value="#{bundle.ListOrdersEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ordersEntityController.prepareEdit}" value="#{bundle.ListOrdersEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ordersEntityController.destroy}" value="#{bundle.ListOrdersEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ordersEntityController.prepareCreate}" value="#{bundle.ListOrdersEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListOrdersEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
