<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_orderId}"/>
                    <h:outputText value="#{ordersEntityController.selected.orderId}" title="#{bundle.ViewOrdersEntityTitle_orderId}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_date}"/>
                    <h:outputText value="#{ordersEntityController.selected.date}" title="#{bundle.ViewOrdersEntityTitle_date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_status}"/>
                    <h:outputText value="#{ordersEntityController.selected.status}" title="#{bundle.ViewOrdersEntityTitle_status}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_total}"/>
                    <h:outputText value="#{ordersEntityController.selected.total}" title="#{bundle.ViewOrdersEntityTitle_total}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_customerId}"/>
                    <h:outputText value="#{ordersEntityController.selected.customerId}" title="#{bundle.ViewOrdersEntityTitle_customerId}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_paymentId}"/>
                    <h:outputText value="#{ordersEntityController.selected.paymentId}" title="#{bundle.ViewOrdersEntityTitle_paymentId}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_shipmentId}"/>
                    <h:outputText value="#{ordersEntityController.selected.shipmentId}" title="#{bundle.ViewOrdersEntityTitle_shipmentId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ordersEntityController.destroyAndView}" value="#{bundle.ViewOrdersEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOrdersEntityEditLink}"/>
                <br />
                <h:commandLink action="#{ordersEntityController.prepareCreate}" value="#{bundle.ViewOrdersEntityCreateLink}" />
                <br />
                <h:commandLink action="#{ordersEntityController.prepareList}" value="#{bundle.ViewOrdersEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOrdersEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
