<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateStaffgroupEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    
                    <h:outputLabel value="#{bundle.CreateStaffgroupEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{staffgroupEntityController.selected.name}" title="#{bundle.CreateStaffgroupEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateStaffgroupEntityRequiredMessage_name}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{staffgroupEntityController.create}" value="#{bundle.CreateStaffgroupEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{staffgroupEntityController.prepareList}" value="#{bundle.CreateStaffgroupEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateStaffgroupEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
