<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListStaffgroupEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListStaffgroupEntityEmpty}" rendered="#{staffgroupEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{staffgroupEntityController.items.rowCount > 0}">
                    <h:outputText value="#{staffgroupEntityController.pagination.pageFirstItem + 1}..#{staffgroupEntityController.pagination.pageLastItem + 1}/#{staffgroupEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{staffgroupEntityController.previous}" value="#{bundle.Previous} #{staffgroupEntityController.pagination.pageSize}" rendered="#{staffgroupEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{staffgroupEntityController.next}" value="#{bundle.Next} #{staffgroupEntityController.pagination.pageSize}" rendered="#{staffgroupEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{staffgroupEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStaffgroupEntityTitle_groupId}"/>
                            </f:facet>
                            <h:outputText value="#{item.groupId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStaffgroupEntityTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{staffgroupEntityController.prepareView}" value="#{bundle.ListStaffgroupEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{staffgroupEntityController.prepareEdit}" value="#{bundle.ListStaffgroupEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{staffgroupEntityController.destroy}" value="#{bundle.ListStaffgroupEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{staffgroupEntityController.prepareCreate}" value="#{bundle.ListStaffgroupEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListStaffgroupEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
