<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProductsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProductsEntityEmpty}" rendered="#{productsEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{productsEntityController.items.rowCount > 0}">
                    <h:outputText value="#{productsEntityController.pagination.pageFirstItem + 1}..#{productsEntityController.pagination.pageLastItem + 1}/#{productsEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{productsEntityController.previous}" value="#{bundle.Previous} #{productsEntityController.pagination.pageSize}" rendered="#{productsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{productsEntityController.next}" value="#{bundle.Next} #{productsEntityController.pagination.pageSize}" rendered="#{productsEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{productsEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_productId}"/>
                            </f:facet>
                            <h:outputText value="#{item.productId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_promotions}"/>
                            </f:facet>
                            <h:outputText value="#{item.promotions}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_public1}"/>
                            </f:facet>
                            <h:outputText value="#{item.public1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_available}"/>
                            </f:facet>
                            <h:outputText value="#{item.available}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_homePage}"/>
                            </f:facet>
                            <h:outputText value="#{item.homePage}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_imageThumb}"/>
                            </f:facet>
                            <h:outputText value="#{item.imageThumb}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsEntityTitle_categoryId}"/>
                            </f:facet>
                            <h:outputText value="#{item.categoryId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{productsEntityController.prepareView}" value="#{bundle.ListProductsEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{productsEntityController.prepareEdit}" value="#{bundle.ListProductsEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{productsEntityController.destroy}" value="#{bundle.ListProductsEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{productsEntityController.prepareCreate}" value="#{bundle.ListProductsEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProductsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
