<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/back_end_tmpl.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditShipmentEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditShipmentEntityLabel_shipmentId}" for="shipmentId" />
                    <h:inputText id="shipmentId" value="#{shipmentEntityController.selected.shipmentId}" title="#{bundle.EditShipmentEntityTitle_shipmentId}" required="true" requiredMessage="#{bundle.EditShipmentEntityRequiredMessage_shipmentId}"/>
                    <h:outputLabel value="#{bundle.EditShipmentEntityLabel_method}" for="method" />
                    <h:inputText id="method" value="#{shipmentEntityController.selected.method}" title="#{bundle.EditShipmentEntityTitle_method}" required="true" requiredMessage="#{bundle.EditShipmentEntityRequiredMessage_method}"/>
                </h:panelGrid>
                <h:commandLink action="#{shipmentEntityController.update}" value="#{bundle.EditShipmentEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditShipmentEntityViewLink}"/>
                <br />
                <h:commandLink action="#{shipmentEntityController.prepareList}" value="#{bundle.EditShipmentEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditShipmentEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
