<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVoteEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVoteEntityLabel_voteId}" for="voteId" />
                    <h:inputText id="voteId" value="#{voteEntityController.selected.voteId}" title="#{bundle.CreateVoteEntityTitle_voteId}" required="true" requiredMessage="#{bundle.CreateVoteEntityRequiredMessage_voteId}"/>
                    <h:outputLabel value="#{bundle.CreateVoteEntityLabel_numberVote}" for="numberVote" />
                    <h:inputText id="numberVote" value="#{voteEntityController.selected.numberVote}" title="#{bundle.CreateVoteEntityTitle_numberVote}" />
                    <h:outputLabel value="#{bundle.CreateVoteEntityLabel_productId}" for="productId" />
                    <h:selectOneMenu id="productId" value="#{voteEntityController.selected.productId}" title="#{bundle.CreateVoteEntityTitle_productId}" required="true" requiredMessage="#{bundle.CreateVoteEntityRequiredMessage_productId}">
                        <f:selectItems value="#{productsEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{voteEntityController.create}" value="#{bundle.CreateVoteEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{voteEntityController.prepareList}" value="#{bundle.CreateVoteEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVoteEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
